Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["healthcare-survey-data"]
          roleName: "aws-elasticbeanstalk-ec2-role"

  RolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "s3-access-policy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "s3:PutObject"
              - "s3:GetObject"
              - "s3:ListBucket"
              - "s3:DeleteObject"
            Resource:
              - "arn:aws:s3:::healthcare-survey-data"
              - "arn:aws:s3:::healthcare-survey-data/*"
      Roles:
        - "aws-elasticbeanstalk-ec2-role"